.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.appName {
  font-size: 50px;
}

.logoutBtn {
  position: absolute;
  margin-left: 90%;
}

.categories {
  margin: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1%;
}

.category {
  display: grid;
  place-items: center;
  width: 250px;
}

.noteImg {
  max-width: 100%;
  max-height: 100%;
}

.category_name {
  position: absolute;
  max-width: 210px;
  max-height: 200px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 25px;
}