.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.appName {
  font-size: 50px;
}

.createBtn {
  position: absolute;
  margin-left: 50%;
}

.logoutBtn {
  position: absolute;
  margin-left: 90%;
}

.notes {
  position: relative;
  margin: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1%;
}

.note {
  display: grid;
  place-items: center;
  width: 250px;
}

.noteImg {
  max-width: 100%;
  max-height: 100%;
}

.noteName {
  position: absolute;
  max-width: 210px;
  max-height: 200px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 25px;
}

.noteEditor {
  z-index: 2;
  position: absolute;
  height: 50%;
  width: 50%;
  border: 1px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}